In [ ]:
#LIBRARIES

import pandas as pd
import numpy as np

In [2]:
# These options help us to inspect our data more easily.
pd.set_option("display.max_columns", 85)
pd.set_option("display.max_rows", 85)

In [27]:
# These commands load the dataframe
na_vals = ['NA','Missing','?']   #convert to NaN value
df_cleveland = pd.read_csv("processed.cleveland.csv", header = None, na_values=na_vals)
df_hungarian = pd.read_csv("processed.hungarian.csv", header = None, na_values=na_vals)
df_va = pd.read_csv("processed.va.csv", header = None, na_values=na_vals)
df_switzerland = pd.read_csv("processed.switzerland.csv",header = None, na_values=na_vals)

schema_df = pd.read_csv("column_description_heart.csv", index_col = "No.")

In [4]:
schema_df.head(14)

     Attribute Column                                        Description
No.
1            3      A                                                Age
2            4      B                    sex: sex (1 = male; 0 = female)
3            9      C  cp: chest pain type(1=typical angina, 2=atypic...
4           10      D  trestbps: resting blood pressure (in mm Hg on ...
5           12      E                   chol: serum cholestoral in mg/dl
6           16      F  fbs: (fasting blood sugar > 120 mg/dl)  (1 = t...
7           19      G  restecg: resting electrocardiographic results ...
8           32      H               thalach: maximum heart rate achieved
9           38      I   exang: exercise induced angina (1 = yes; 0 = no)
10          40      J  oldpeak = ST depression induced by exercise re...
11          41      K  slope: the slope of the peak exercise ST segme...
12          44      L  ca: number of major vessels (0-3) colored by f...
13          51      M  thal: 3 = normal; 6 = fixed defect; 7 = revers...
14          58      N  num: diagnosis of heart disease (angiographic ...

In [5]:
column_names = ['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','num']

In [6]:
df_cleveland.columns = column_names

In [7]:
df_cleveland['region']='Cleveland'

In [8]:
print(df_cleveland)

      age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
0    63.0  1.0  1.0     145.0  233.0  1.0      2.0    150.0    0.0      2.3
1    67.0  1.0  4.0     160.0  286.0  0.0      2.0    108.0    1.0      1.5
2    67.0  1.0  4.0     120.0  229.0  0.0      2.0    129.0    1.0      2.6
3    37.0  1.0  3.0     130.0  250.0  0.0      0.0    187.0    0.0      3.5
4    41.0  0.0  2.0     130.0  204.0  0.0      2.0    172.0    0.0      1.4
..    ...  ...  ...       ...    ...  ...      ...      ...    ...      ...
298  45.0  1.0  1.0     110.0  264.0  0.0      0.0    132.0    0.0      1.2
299  68.0  1.0  4.0     144.0  193.0  1.0      0.0    141.0    0.0      3.4
300  57.0  1.0  4.0     130.0  131.0  0.0      0.0    115.0    1.0      1.2
301  57.0  0.0  2.0     130.0  236.0  0.0      2.0    174.0    0.0      0.0
302  38.0  1.0  3.0     138.0  175.0  0.0      0.0    173.0    0.0      0.0

     slope   ca  thal  num     region
0      3.0  0.0   6.0    0  Cleveland
1      2.0  3.0   3.0    2  Cleveland
2      2.0  2.0   7.0    1  Cleveland
3      3.0  0.0   3.0    0  Cleveland
4      1.0  0.0   3.0    0  Cleveland
..     ...  ...   ...  ...        ...
298    2.0  0.0   7.0    1  Cleveland
299    2.0  2.0   7.0    2  Cleveland
300    2.0  1.0   7.0    3  Cleveland
301    2.0  1.0   3.0    1  Cleveland
302    1.0  NaN   3.0    0  Cleveland

[303 rows x 15 columns]

In [9]:
df_cleveland.dtypes

age         float64
sex         float64
cp          float64
trestbps    float64
chol        float64
fbs         float64
restecg     float64
thalach     float64
exang       float64
oldpeak     float64
slope       float64
ca          float64
thal        float64
num           int64
region       object
dtype: object

In [10]:
df_hungarian.columns = column_names
df_hungarian['region']='Hungary'

print(df_hungarian)

     age  sex  cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
0     28    1   2     130.0  132.0  0.0      2.0    185.0    0.0      0.0
1     29    1   2     120.0  243.0  0.0      0.0    160.0    0.0      0.0
2     29    1   2     140.0    NaN  0.0      0.0    170.0    0.0      0.0
3     30    0   1     170.0  237.0  0.0      1.0    170.0    0.0      0.0
4     31    0   2     100.0  219.0  0.0      1.0    150.0    0.0      0.0
..   ...  ...  ..       ...    ...  ...      ...      ...    ...      ...
289   52    1   4     160.0  331.0  0.0      0.0     94.0    1.0      2.5
290   54    0   3     130.0  294.0  0.0      1.0    100.0    1.0      0.0
291   56    1   4     155.0  342.0  1.0      0.0    150.0    1.0      3.0
292   58    0   2     180.0  393.0  0.0      0.0    110.0    1.0      1.0
293   65    1   4     130.0  275.0  0.0      1.0    115.0    1.0      1.0

     slope  ca  thal  num   region
0      NaN NaN   NaN    0  Hungary
1      NaN NaN   NaN    0  Hungary
2      NaN NaN   NaN    0  Hungary
3      NaN NaN   6.0    0  Hungary
4      NaN NaN   NaN    0  Hungary
..     ...  ..   ...  ...      ...
289    NaN NaN   NaN    1  Hungary
290    2.0 NaN   NaN    1  Hungary
291    2.0 NaN   NaN    1  Hungary
292    2.0 NaN   7.0    1  Hungary
293    2.0 NaN   NaN    1  Hungary

[294 rows x 15 columns]

In [11]:
df_va.columns = column_names
df_va['region']='Long Beach'
print(df_va)

     age  sex  cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   4     140.0  260.0  0.0        1    112.0    1.0      3.0
1     44    1   4     130.0  209.0  0.0        1    127.0    0.0      0.0
2     60    1   4     132.0  218.0  0.0        1    140.0    1.0      1.5
3     55    1   4     142.0  228.0  0.0        1    149.0    1.0      2.5
4     66    1   3     110.0  213.0  1.0        2     99.0    1.0      1.3
..   ...  ...  ..       ...    ...  ...      ...      ...    ...      ...
195   54    0   4     127.0  333.0  1.0        1    154.0    0.0      0.0
196   62    1   1       NaN  139.0  0.0        1      NaN    NaN      NaN
197   55    1   4     122.0  223.0  1.0        1    100.0    0.0      0.0
198   58    1   4       NaN  385.0  1.0        2      NaN    NaN      NaN
199   62    1   2     120.0  254.0  0.0        2     93.0    1.0      0.0

     slope  ca  thal  num      region
0      2.0 NaN   NaN    2  Long Beach
1      NaN NaN   NaN    0  Long Beach
2      3.0 NaN   NaN    2  Long Beach
3      1.0 NaN   NaN    1  Long Beach
4      2.0 NaN   NaN    0  Long Beach
..     ...  ..   ...  ...         ...
195    NaN NaN   NaN    1  Long Beach
196    NaN NaN   NaN    0  Long Beach
197    NaN NaN   6.0    2  Long Beach
198    NaN NaN   NaN    0  Long Beach
199    NaN NaN   NaN    1  Long Beach

[200 rows x 15 columns]

In [12]:
df_switzerland.columns = column_names
df_switzerland['region']='Switzerland'
print(df_switzerland)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     32    1   1      95.0     0  NaN      0.0    127.0    0.0      0.7
1     34    1   4     115.0     0  NaN      NaN    154.0    0.0      0.2
2     35    1   4       NaN     0  NaN      0.0    130.0    1.0      NaN
3     36    1   4     110.0     0  NaN      0.0    125.0    1.0      1.0
4     38    0   4     105.0     0  NaN      0.0    166.0    0.0      2.8
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
118   70    1   4     115.0     0  0.0      1.0     92.0    1.0      0.0
119   70    1   4     140.0     0  1.0      0.0    157.0    1.0      2.0
120   72    1   3     160.0     0  NaN      2.0    114.0    0.0      1.6
121   73    0   3     160.0     0  0.0      1.0    121.0    0.0      0.0
122   74    1   2     145.0     0  NaN      1.0    123.0    0.0      1.3

     slope   ca  thal  num       region
0      1.0  NaN   NaN    1  Switzerland
1      1.0  NaN   NaN    1  Switzerland
2      NaN  NaN   7.0    3  Switzerland
3      2.0  NaN   6.0    1  Switzerland
4      1.0  NaN   NaN    2  Switzerland
..     ...  ...   ...  ...          ...
118    2.0  NaN   7.0    1  Switzerland
119    2.0  NaN   7.0    3  Switzerland
120    2.0  2.0   NaN    0  Switzerland
121    1.0  NaN   3.0    1  Switzerland
122    1.0  NaN   NaN    1  Switzerland

[123 rows x 15 columns]

In [13]:
df_conc = pd.concat([df_cleveland, df_hungarian, df_va, df_switzerland], axis = 0)

In [14]:
df_conc

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num,region
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0,Cleveland
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2,Cleveland
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1,Cleveland
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0,Cleveland
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0,Cleveland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,70.0,1.0,4.0,115.0,0.0,0.0,1.0,92.0,1.0,0.0,2.0,NaN,7.0,1,Switzerland
119,70.0,1.0,4.0,140.0,0.0,1.0,0.0,157.0,1.0,2.0,2.0,NaN,7.0,3,Switzerland
120,72.0,1.0,3.0,160.0,0.0,NaN,2.0,114.0,0.0,1.6,2.0,2.0,NaN,0,Switzerland
121,73.0,0.0,3.0,160.0,0.0,0.0,1.0,121.0,0.0,0.0,1.0,NaN,3.0,1,Switzerland
122,74.0,1.0,2.0,145.0,0.0,NaN,1.0,123.0,0.0,1.3,1.0,NaN,NaN,1,Switzerland

In [15]:
df_conc['trestbps'].unique() #zero?,  trestbps: resting blood pressure (in mm Hg on admission to the hospital)

array([145., 160., 120., 130., 140., 172., 150., 110., 132., 117., 135.,
       112., 105., 124., 125., 142., 128., 170., 155., 104., 180., 138.,
       108., 134., 122., 115., 118., 100., 200.,  94., 165., 102., 152.,
       101., 126., 174., 148., 178., 158., 192., 129., 144., 123., 136.,
       146., 106., 156., 154., 114., 164.,  98., 190.,  nan, 113.,  92.,
       116.,   0.,  96., 127.,  95.,  80., 185.])

In [16]:
df_conc['trestbps'].replace(0, 'nan' ,inplace=True)

In [17]:
df_conc['trestbps'].unique()

array([145.0, 160.0, 120.0, 130.0, 140.0, 172.0, 150.0, 110.0, 132.0,
       117.0, 135.0, 112.0, 105.0, 124.0, 125.0, 142.0, 128.0, 170.0,
       155.0, 104.0, 180.0, 138.0, 108.0, 134.0, 122.0, 115.0, 118.0,
       100.0, 200.0, 94.0, 165.0, 102.0, 152.0, 101.0, 126.0, 174.0,
       148.0, 178.0, 158.0, 192.0, 129.0, 144.0, 123.0, 136.0, 146.0,
       106.0, 156.0, 154.0, 114.0, 164.0, 98.0, 190.0, nan, 113.0, 92.0,
       116.0, 'nan', 96.0, 127.0, 95.0, 80.0, 185.0], dtype=object)

In [22]:
df_conc['trestbps'] = df_conc['trestbps'].astype(float)

In [18]:
df_conc['oldpeak'].unique()

array([ 2.3,  1.5,  2.6,  3.5,  1.4,  0.8,  3.6,  0.6,  3.1,  0.4,  1.3,
        0. ,  0.5,  1.6,  1. ,  1.2,  0.2,  1.8,  3.2,  2.4,  2. ,  2.5,
        2.2,  2.8,  3. ,  3.4,  6.2,  4. ,  5.6,  2.9,  0.1,  2.1,  1.9,
        4.2,  0.9,  1.1,  3.8,  0.7,  0.3,  4.4,  5. , -0.5,  nan,  1.7,
       -1.1, -1.5, -0.1, -2.6, -0.7, -2. , -1. , -0.8, -0.9,  3.7])

In [19]:
df_conc['num'].unique()

array([0, 2, 1, 3, 4], dtype=int64)

In [23]:
df_conc.dtypes

age         float64
sex         float64
cp          float64
trestbps    float64
chol        float64
fbs         float64
restecg     float64
thalach     float64
exang       float64
oldpeak     float64
slope       float64
ca          float64
thal        float64
num           int64
region       object
dtype: object

In [24]:
print(pd.isnull(df_conc).sum())
print(pd.notnull(df_conc).sum())

age           0
sex           0
cp            0
trestbps     60
chol         30
fbs          90
restecg       2
thalach      55
exang        55
oldpeak      62
slope       309
ca          611
thal        486
num           0
region        0
dtype: int64
age         920
sex         920
cp          920
trestbps    860
chol        890
fbs         830
restecg     918
thalach     865
exang       865
oldpeak     858
slope       611
ca          309
thal        434
num         920
region      920
dtype: int64

In [26]:
df_conc.to_csv('modified_heart.csv')